@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.grid-value{
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
}
@media (max-width:900px) {
  .grid-value{
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 5px;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn .7s ease-in-out ;
}
@keyframes rotate {
  100%{
   transform: rotate(360deg);
  }
}
.spin {
  animation: rotate 1s infinite ;
}